*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container{
    width: 350px;
    color: #ffffff;
}

.tabs{
    display: flex;
}

.tab{
    flex: 1;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: white;
    background: #000000;
}

.tab.active{
    background: #000000;
    font-weight: bold;
}

.form{
    background: transparent;
    padding: 20px 0;
}

form a{
    text-decoration: none;
    display: flex;
    padding-left: 59%;
}

form.hidden{
    display: none;
}

.hidden{
    display: none;
}

form h2{
    align-items: center;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: #000000;
}


.btn{
  width: 100%;
  padding: 15px;
  border: none;
  background: #000000; 
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; 
  margin-top: 12px;
}


.forget{
    color: #000000;
    font-size: 12px;
    float: right;
    margin-bottom: 15px;
}

.hidden{
    display: none;
}

