*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

h

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

header .contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-inline: 80px;
    padding-block: 10px;
    border-bottom: 0.5px solid #fff;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    padding-bottom: 20px;
    position: relative;
}

header nav .logo{
    width: 50px;
    height: 50px;
    background: white;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
}

header nav .buttons{
    display: flex; 
    gap: 20px;
}

header nav .buttons button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

header nav i{
    opacity: 0;
    font-size: 30px;
    position: absolute;
    right: 10;
}

footer{
    padding-block: 20px;
    padding-inline: 80px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

footer .footer-links{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

footer .footer-links .logo-desc{
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

footer .footer-links img{
    width: 80px;
}

footer .footer-links .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-links .links .head{
    font-weight: bold;
    color: white;
}

footer .footer-links .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

.container{
    display: grid;
    grid-template-columns: 5fr 5fr ;
    grid-template-rows:1fr 1f;
    margin: 2rem;
    gap: 3rem;
    border: solid 2px #000;
    width: 82rem;
    height: 35rem;
}

.info{
    border: 2px solid gray ;
    width: 700px;
    height: 250px;
    margin: 40 0 0 40px ;
}

.info h1{
    padding-bottom: 2rem;
}

@media (max-width: 1050px) {
    header nav{
        padding-inline: 10px;
    }
    header .contact{
        font-size: 12px;
        padding-inline: 10px;
        width: 100%;
    }
    header nav i{
        opacity: 1;
    }
    header nav ul{
        position: absolute;
        left: 0;
        top: 68;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        width: 100%; 
        height: 0vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        transition: height 0.5s linear;
    }    
    header nav ul.active{
        height: 100vh;
    }
    header nav .buttons{
        margin-right: 50px;
        gap: 5px;
    }
    header nav .buttons button{
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        font-size: 12px;
    }
    
    .ready{
        padding-inline: 10px;
        text-align: center;
    }
    footer{
        width: 100% !important;
        padding-inline: 10px;
    }
    footer .footer-links{
        flex-direction: column;
        gap: 50px;
    }
}