*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

h

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header .contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-inline: 80px;
    padding-block: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    padding-bottom: 20px;
    position: relative;
}

header nav .logo{
    width: 50px;
    height: 50px;
    background: white;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

header nav .buttons{
    display: flex; 
    gap: 20px;
}

header nav .buttons button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

header nav i{
    opacity: 0;
    font-size: 30px;
    position: absolute;
    right: 10;
}

footer{
    width: 100%;
    padding-block: 20px;
    padding-inline: 80px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 200px; 
    /* THE ABOVE MARGIN CAN BE CHANGED  */
}

.container {
    margin-top: 200px;
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding-inline: 80px;
}

.container .houser{
    margin-bottom: 20px;
}

.container .form-container {
    width: 100%;
}

.container .form-container .head{
    text-align: center;
    margin-bottom: 20px;
}

.container .form-container form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container .form-container form>*{
    flex-shrink: 0;
    width: 40%;
    flex-grow: 1;
}

.container .form-container form label input, select, textarea, button{
    width: 100%;
    padding: 10px;
}

.container .form-container form .property-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .form-container form .property-details .flex-input{
    display: flex;
    gap: 20px;
}

footer .footer-links{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

footer .footer-links .logo-desc{
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

footer .footer-links img{
    width: 80px;
}

footer .footer-links .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-links .links .head{
    font-weight: bold;
    color: white;
}

footer .footer-links .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

@media (max-width: 1050px) {
    header nav{
        padding-inline: 10px;
    }
    header .contact{
        font-size: 12px;
        padding-inline: 10px;
        width: 100%;
    }
    header nav i{
        opacity: 1;
    }
    header nav ul{
        position: absolute;
        left: 0;
        top: 70px;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        width: 100%; 
        height: 0vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        transition: height 0.5s linear;
    }    
    header nav ul.active{
        height: 90vh;
    }
    header nav .buttons{
        margin-right: 50px;
        gap: 5px;
    }
    header nav .buttons button{
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        font-size: 12px;
    }

    .container {
        padding-inline: 20px;
    }

    .container .form-container .head{
        text-align: center;
        margin-bottom: 20px;
    }

    .container .form-container .head h2{
        font-size: 20px;
    }

    .container .form-container .head p{
        font-size: 12px;
    }

    .container .form-container form{
        gap: 10px;
    }

    .container .form-container form>*{
        width: 100%;
    }

    .container .form-container form .property-details .flex-input{
        display: flex;
        gap: 10px;
    }

    footer{
        width: 100% !important;
        padding-inline: 10px;
    }
    footer .footer-links{
        flex-direction: column;
        gap: 50px;
    }
}