*{
<<<<<<< HEAD
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header .contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-inline: 80px;
    padding-block: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    padding-bottom: 20px;
    position: relative;
}

header nav .logo{
    width: 50px;
}

header nav .logo img{
    width: 100%;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

header nav .buttons{
    display: flex; 
    gap: 20px;
}

header nav .buttons button{
    padding: 10px 20px;
    border: none;
    : 5px;
    cursor: pointer;
    font-size: 16px;
}

header nav i{
    opacity: 0;
    font-size: 30px;
    position: absolute;
    right: 10;
}

footer{
    width: 100%;
    padding-block: 20px;
    padding-inline: 80px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 200px; 
    /* THE ABOVE MARGIN CAN BE CHANGED  */
}

footer .footer-links{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

footer .footer-links .logo-desc{
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

footer .footer-links img{
    width: 80px;
}

footer .footer-links .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-links .links .head{
    font-weight: bold;
    color: white;
}

footer .footer-links .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

@media (max-width: 1050px) {
    header nav{
        padding-inline: 10px;
    }
    header .contact{
        font-size: 12px;
        padding-inline: 10px;
        width: 100%;
    }
    header nav i{
        opacity: 1;
    }
    header nav ul{
        position: absolute;
        left: 0;
        top: 68;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        width: 100%; 
        height: 0vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        transition: height 0.5s linear;
    }    
    header nav ul.active{
        height: 80vh;
    }
    header .buttons{
        margin-right: 50px;
    }
    header nav .buttons button{
        padding: 8px 12px;
        border: none;
        : 5px;
        cursor: pointer;
        font-size: 16px;
    }
    footer{
        width: 100% !important;
        padding-inline: 10px;
    }
    footer .footer-links{
        flex-direction: column;
        gap: 50px;
    }
}
=======
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.container h1{
    text-align: center;
    padding-block: 20px;
    color: black;
    
}

form input,
form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.Message{
    display: block;
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;


}

form input:focus,
form textarea:focus{
    outline:none;
    box-shadow: 0 0 5px black;
    
    
}

form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}

form button:hover{
    background-color: black; 
}
 .cat h1{
    height: 200px;
    margin: 50px auto;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
    max -width: 600px;
    boarder-radius: 10px;
    padding: 20px;    
 }
>>>>>>> e71256007b34573e5e9fdfee617648a20eddd071
