*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
}

header .contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-inline: 80px;
    padding-block: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    padding-bottom: 20px;
}

header nav .logo{
    width: 50px;
}

header nav .logo img{
    width: 100%;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

header nav .buttons{
    display: flex; 
    gap: 20px;
}

header nav .buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer{
    padding-block: 20px;
    padding-inline: 80px;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

footer .footer-links{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

footer .footer-links .logo-desc{
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

footer .footer-links img{
    width: 80px;
}

footer .footer-links .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-links .links .head{
    font-weight: bold;
    color: white;
}

footer .footer-links .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

.container{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.container h1{
    margin-bottom: 20px;
}

.container h3,h4{
    margin-top: 20px;
    margin-bottom: 10px;
}


.container p{
    margin-bottom: 15px;
    line-height: 1.6;
}
.container ul{
    margin-left: 20px;
    margin-bottom: 15px;
}
.container ul li{
    margin-bottom: 10px;
}
.container span{
    font-weight: bold;

}
