*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    width: 100%;
}

.sidenav{
    width: 300px;
    height: 40rem;
    padding: 20px;
    flex-shrink: 0;
    border-right: 0.5px solid rgba(255, 255, 255, 0.192);
    position: sticky;
    top: 0;
    left: 0;
}

.sidenav .userinfo .profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.sidenav .userinfo .profile img{
    width: 100%;
}

.sidenav .userinfo{
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.sidenav .userinfo .name-email{
    text-align: center; 
    margin-block: 10px;
}

ul{
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

ul li{
    position: relative;
}

ul li .number{
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
}


ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.container main{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
}

.products-container {
    width: 100%;
    padding-inline: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.products-container h4{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: white;
} 

.products-container .products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.products-container .products .product {
    background-color: #000;
    color: #fff;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.products-container .products .product #wishlist{
    position: absolute;
    top: 10;
    left: 10;
    color: black;
    cursor: pointer;
    font-size: 20px;
}

.products-container .products .product .close-product{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.products-container .products .product .card-top{
    padding: 20px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.products-container .products .product .details{
    padding: 20px;
    display: flex; 
    flex-direction: column;
    gap: 15px;
}

.products-container .products .product .contains{
    display: flex;
    justify-content: space-between;
} 

.products-container .products .product button{
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.products-container a{
    font-size: 20px; 
    margin-block: 20px;
    color: black;
    text-decoration: none;
}

.product-details{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
}

.product-details.active{
    display: flex;
}

.product-details .close{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-details .product {
    width: 50%;
    background-color: #000;
    color: #fff;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    border: 0.01px solid #000;
    overflow: hidden;
}

.product-details .product .card-top{
    padding: 20px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.product-details .product .details{
    padding: 20px;
    display: flex; 
    flex-direction: column;
    gap: 15px;
}

.products-details .product .contains{
    display: flex;
    justify-content: space-between;
} 

.products-details .product button{
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.products-container a{
    font-size: 20px; 
    margin-block: 20px;
    color: black;
    text-decoration: none;
}